datacenter = "{{ consul_datacenter }}"
data_dir = "{{ consul_data_path }}"
retry_join = {{ consul_servers | to_json }}
performance {
  raft_multiplier = {{ consul_raft_multiplier }}
}
ui = {{ consul_ui | lower }}